html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  color: #444;
}

.content {
  width: 800px;
  margin: 50px auto;
  text-align: center;
}

li {
  list-style: none;
}

.strikethrough {
  text-decoration: line-through;
  color: #dedede;
}

span {
  cursor: pointer;
}
